body{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.hl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6% 0 0 80px;
}

.sb{
    display: flex;
    justify-content: center;
    margin: 2% 0 0 80px;
}

.sb #search-bar{
    width: 450px;
    height: 35px;
    border-radius: 10px;
}
.sbutton{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbutton button{
    height: 40px;
    border-radius: 10px;
}


/* sidebar */

/* sidebar */
.sidebar {
  background-color: white;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 0px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px lightgray;
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 40px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title{
  font-size: 18px;
}
.menu_title::before {
  color: grey;
  white-space: nowrap;
}

.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: blue;
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: grey;
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.sidebar.close #arrow{
  display: none;
}
.nav_link:hover {
  color: white;
  background: blue;
}
.sidebar.close .nav_link:hover {
  background: white;
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  text-align: center;
  width: 94%;
  color: grey;
  border-top: 1px solid lightgrey;
  background-color: white;
}
.expand_sidebar{
  padding: 18px 0 0 0px;
}

.collapse_sidebar{
  padding: 18px 0 0 6%;
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: grey;
  }
  .sidebar.close {
    left: -100%;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}


.header{
  display: flex;
  align-items: center;
}

.header img{
  width: 150px;
  margin: 0 0 0 100px;
}

.header .sbab{
  position: absolute;
  right:  0;
  border-radius: 5px;
  margin-right: 5px;
}

.sbab #search-bar{
  width: 200px;
  border-radius: 10px;
}

 .sbab button{
  border-radius: 10px;
}

.text{
  color: white;
  margin: 2% 2% 0 150px;
  font-size: 20px;
  text-align: justify;
}

.txt1{
  display: inline-flex;
}

.text h1{
  font-size: 60px;
}

.txt1 p{
  width: 75%;
}

.txt1 img{
  padding-left: 3%;
  width: 20%;
  height: 130px;
}

.txt2 p{
  width: 75%;
}

.txt2 img{
  width: 20%;
  padding-right: 3%;
  padding-left: 2%;
  height: 130px;
}

.txt2{
  display: inline-flex;
}

#note { 
  font-size: 164px; 
}
.droptarget {
  background-color: #348781;
}
div.confident {
  color: #FF5F1F; 
}
div.vague {
  color: lightgrey; 
}
#note {
  display: inline-block;
  height:180px;
  text-align: left;
}			
#detector {
  width: 500px;
  height: 300px;
  border: 4px solid #FF5F1F;
  border-radius: 8px;
  text-align: center;
  padding-top: 10px;
}
#output {
  width: 300px;
  height: 42px; 
}
#flat {
  display: none; 
}
#sharp {
  display: none; 
}
.flat #flat {
  display: inline; 
}
.sharp #sharp {
  display: inline; 
}

.tnr{
  justify-content: center;
  display: flex;
  margin: 90px 0 0 80px;
}

.tnrbtn{
  display: flex;
  justify-content: center;
}

.tnrbtn button{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #FF5F1F;
  margin: 0 0 0 80px;
}

.slider-container{    
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 0 0 80px;
}

#image-container{
  float: center;
  width: 625px;
  margin: 150px 0 0 80px;
}

#image-container img{
  width: 620px;
}

#selected-chord, #selected-note{
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  align-items: center;
  position: absolute;
  margin-top: 100px;
  margin-left: 51%;
  margin-right: 38%;
  color:white;
}

#selected-chord{
  padding-left: 30px;
}

#selected-note{
  padding-right: 30px;
}

.lyrics1{
  text-align: center;
  margin: 0 0 0 37%;
  position: absolute;
}


.lyrics2{
  text-align: center;
  margin: 0 0 0 38%;
  position: absolute;
}

.lyrics3{
  text-align: center;
  margin: 0 0 0 39%;
  position: absolute;
}

.lyrics4{
  text-align: center;
  margin: 0 0 0 39%;
  position: absolute;
}

.lyrics1 img{
  width: 500px;
  height: 500px;
}

.lyrics2 img{
  width: 400px;
}

.lyrics3 img{
  width: 400px;
}

.lyrics4 img{
  width: 400px;
}

.llll{
  display: flex;
  color: white;
  margin: 0 0 0 80px;
  font-size: 30px;
}

.llll ul li{
  display: inline;
  padding: 0px 20px;
}
.cimg{
  display: none;
}
.C:hover .cimg{
  display: block;
  position: absolute;
}

.cimg img{
  width: 400px;
}

.C:hover{
  background-color: white;
  color: #FF5F1F;
}

.G:hover .cimg{
  display: block;
  position: absolute;
}

.G:hover{
  background-color: white;
  color: #FF5F1F;
}

.F:hover .cimg{
  display: block;
  position: absolute;
}

.F:hover{
  background-color: white;
  color: #FF5F1F;
}

.D:hover .cimg{
  display: block;
  position: absolute;
}

.D:hover{
  background-color: white;
  color: #FF5F1F;
}

.D7:hover .cimg{
  display: block;
  position: absolute;
}

.D7:hover{
  background-color: white;
  color: #FF5F1F;
}

.E:hover .cimg{
  display: block;
  position: absolute;
}

.E:hover{
  background-color: white;
  color: #FF5F1F;
}

.nt{
    color: white;
    Display: flex;
    Justify-content:center;
}
